body {
	padding-top: 0px;
	background-image: url('../images/background.jpg');
	font-family: 'Forum', cursive;
	text-align: justify;
	

}

.navbar {
	height: 70px;
}

.btn, .centered{
	display: block; 
	margin: 5px auto;
}

/* img {
	display: block;
	margin: 0 auto;
	width: 80%;
	height: 80%;
} */

th {
	text-align: center;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: lightgreen;
  cursor: pointer;
  cursor: hand;
}

.horizontal {
	display: inline-block;
}

.txt_3[type="text"] {
	margin: 10px 0 0;
	padding: 10px 0 10px 5px;
	width: 100%;
}

.txt2[type="submit"] {
	border: 1px solid #4f5c04;
	color: #fff;
	font-size: 16px;
	font-style: normal;
	line-height: 35px;
	margin: 10px 0;
	padding: 0;
	text-transform: uppercase;
	width: 30%;
}

.txt2:hover {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	color: #5793ef;
	transition: all 0.5s ease 0s;
}

input[type=number]{
	width: 75px;
}

/* body {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
} */

.container {
    padding: 0px 10px;
    position: fixed;
}

.form-login, .clear-area{
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}

.padding-top {
	padding-top: 20px;
}

.navbar-brand {
	padding-top: 0px;
}

